<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Shopping list</title>
<body>
<h1 class="text-center">Shopping list</h1>
<div class="container">
    <a href="add_new" class="btn btn-secondary" role="button">Add new</a><br/><br/>
    {% for key, value in records.items %}
        <h3> {{ key }} </h3>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Price (Total)</th>
                <th></th>
            </tr>
            {% for record in value %}
                <tr>
                    <td> {{ record.name }} </td>
                    <td> {{ record.amount }} </td>
                    <td> {{ record.price }} </td>
                    <td>
                        {% if not record.isBought %}
                            <a href="{% url 'record_id' record.id %}" class="btn btn-success" role="button">Mark bought</a>
                        {%  else %}
                            Bought
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br/>
    {% endfor %}
</div>
</body>
</html>