<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Shopping list</title>
<body>
<h1 class="text-center">Shopping list</h1>
<div class="container">
    {% for key, value in records.items %}
        <h3> {{ key }} </h3>
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Price (Total)</th>
                <th>Bought</th>
            </tr>
            {% for record in value %}
                <tr>
                    <td> {{ record.name }} </td>
                    <td> {{ record.amount }} </td>
                    <td> {{ record.price }} </td>
                    <td> {{ record.isBought }} </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
</div>
</body>
</html>